@import 'tailwindcss';

@theme {
  --font-display: 'Plus Jakarta Sans', sans-serif;
  --font-sans: 'Plus Jakarta Sans', sans-serif;
  --font-serif: 'IvyOra Display', serif;
}

/* Default transitions */
.page-enter-active,
.page-leave-active {
  transition: all 0.15s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(0.2rem);
  transform: translateY(5px);
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.card {
  --mouse-x: 0px;
  --mouse-y: 0px;

  background: radial-gradient(
    circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.1) 50%
  );

  @apply overflow-hidden p-[1px];
}
